* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.container {
    width: 400px;
    text-align: center;
}

.input-area {
    margin-top: 20px;
    margin-bottom: 20px;
}

#task-list li {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    text-align: left;
}

#task-list span {
    flex: 1;
    overflow-wrap: break-word;
    min-width: 0;
}